.row {
    background-color: rgb(30, 133, 146);
    padding: 10pt;
    color: rgb(209, 241, 245);
    font-style: oblique;
}

h1 {
    color: rgb(8, 86, 88);
    padding: 9pt;
    font-weight: 400;
    font-style: oblique;
    border-radius: 50pt;
}

